In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [5]:
dataset = pd.read_csv('credit_simple.csv', sep=';')
dataset.shape

(1000, 8)

In [6]:
dataset.head()

   SALDO_ATUAL  RESIDENCIADESDE  ...            PROPOSITO CLASSE
0       1169.0                4  ...             radio/tv    bom
1       5951.0                2  ...             radio/tv   ruim
2       2096.0                3  ...             educação    bom
3       7882.0                4  ...  mobilia/equipamento    bom
4       4870.0                4  ...           carro novo   ruim

[5 rows x 8 columns]

In [7]:
y = dataset['CLASSE']
X = dataset.iloc[:, :-1]

In [8]:
X

     SALDO_ATUAL  RESIDENCIADESDE  ...         ESTADOCIVIL            PROPOSITO
0         1169.0                4  ...  masculino solteiro             radio/tv
1         5951.0                2  ...         fem div/cas             radio/tv
2         2096.0                3  ...  masculino solteiro             educação
3         7882.0                4  ...  masculino solteiro  mobilia/equipamento
4         4870.0                4  ...  masculino solteiro           carro novo
..           ...              ...  ...                 ...                  ...
995       1736.0                4  ...         fem div/cas  mobilia/equipamento
996       3857.0                4  ...   masculino div/sep          carro usado
997        804.0                4  ...  masculino solteiro             radio/tv
998       1845.0                4  ...  masculino solteiro             radio/tv
999       4576.0                4  ...  masculino solteiro          carro usado

[1000 rows x 7 columns]

In [9]:
y

0       bom
1      ruim
2       bom
3       bom
4      ruim
       ...
995     bom
996     bom
997     bom
998    ruim
999     bom
Name: CLASSE, Length: 1000, dtype: object

In [10]:
X.isnull().sum()

SALDO_ATUAL         7
RESIDENCIADESDE     0
IDADE               0
OUTROSPLANOSPGTO    0
DATA                0
ESTADOCIVIL         8
PROPOSITO           0
dtype: int64

In [12]:
median = X['SALDO_ATUAL'].median()
median

np.float64(2323.0)

In [13]:
X['SALDO_ATUAL'].fillna(median, inplace=True)

/var/folders/mk/8ytm3sv94s7d059pz1q71blc0000gn/T/ipykernel_77677/260587880.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['SALDO_ATUAL'].fillna(median, inplace=True)

In [14]:
X.isnull().sum()

SALDO_ATUAL         0
RESIDENCIADESDE     0
IDADE               0
OUTROSPLANOSPGTO    0
DATA                0
ESTADOCIVIL         8
PROPOSITO           0
dtype: int64

In [16]:
group = X.groupby(['ESTADOCIVIL']).size()
group

ESTADOCIVIL
fem div/cas               308
masculino casado/viuvo     92
masculino div/sep          50
masculino solteiro        542
dtype: int64

In [18]:
X['ESTADOCIVIL'].fillna('masculino solteiro', inplace=True)
X.isnull().sum()

SALDO_ATUAL         0
RESIDENCIADESDE     0
IDADE               0
OUTROSPLANOSPGTO    0
DATA                0
ESTADOCIVIL         0
PROPOSITO           0
dtype: int64

In [20]:
desv = X['SALDO_ATUAL'].std()
desv

np.float64(685936688.9820067)

In [24]:
X.loc[X['SALDO_ATUAL'] >= 2 * desv, 'SALDO_ATUAL'] = median
X.loc[X['SALDO_ATUAL'] >= 2 * desv, 'SALDO_ATUAL']

Series([], Name: SALDO_ATUAL, dtype: float64)

In [25]:
group = X.groupby(['PROPOSITO']).size()
group

PROPOSITO
Eletrodomésticos        12
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  12
qualificação             9
radio/tv               280
dtype: int64

In [27]:
X.loc[X['PROPOSITO'] == 'Eletrodomésticos', 'PROPOSITO'] = 'outros'
X.loc[X['PROPOSITO'] == 'qualificação', 'PROPOSITO'] = 'outros'

group = X.groupby(['PROPOSITO']).size()
group

PROPOSITO
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  33
radio/tv               280
dtype: int64

In [32]:
X['DATA'] = pd.to_datetime(X['DATA'], format='%d/%m/%Y')

In [34]:
X['DATA']

0     2019-01-01
1     2020-01-01
2     2020-01-02
3     2019-01-02
4     2018-01-03
         ...
995   2018-06-29
996   2018-06-30
997   2018-07-03
998   2019-07-04
999   2018-07-05
Name: DATA, Length: 1000, dtype: datetime64[ns]

In [38]:
X['ANO'] = X['DATA'].dt.year
X['DIASEMANA'] = X['DATA'].dt.day_name()
X['MES'] = X['DATA'].dt.month

In [39]:
X['ESTADOCIVIL'].unique()

array(['masculino solteiro', 'fem div/cas', 'masculino div/sep',
       'masculino casado/viuvo'], dtype=object)

In [40]:
X['PROPOSITO'].unique()

array(['radio/tv', 'educação', 'mobilia/equipamento', 'carro novo',
       'carro usado', 'negócios', 'outros', 'obras'], dtype=object)

In [41]:
X['DIASEMANA'].unique()

array(['Tuesday', 'Wednesday', 'Thursday', 'Saturday', 'Sunday', 'Monday',
       'Friday'], dtype=object)

In [44]:
labelencoder1 = LabelEncoder()

X['ESTADOCIVIL'] = labelencoder1.fit_transform(X['ESTADOCIVIL'])
X['PROPOSITO'] = labelencoder1.fit_transform(X['PROPOSITO'])
X['DIASEMANA'] = labelencoder1.fit_transform(X['DIASEMANA'])

In [45]:
X.head()

   SALDO_ATUAL  RESIDENCIADESDE  IDADE  ... MES DIA_SEMANA  DIASEMANA
0       1169.0                4     67  ...   1    Tuesday          5
1       5951.0                2     22  ...   1  Wednesday          6
2       2096.0                3     49  ...   1   Thursday          4
3       7882.0                4     45  ...   1  Wednesday          6
4       4870.0                4     53  ...   1  Wednesday          6

[5 rows x 12 columns]

In [48]:
others = X['OUTROSPLANOSPGTO'].unique()
others

array(['nenhum', 'banco', 'stores'], dtype=object)

In [49]:
# One hot encoding

z = pd.get_dummies(X['OUTROSPLANOSPGTO'], prefix='OUTROS')

In [50]:
z

     OUTROS_banco  OUTROS_nenhum  OUTROS_stores
0           False           True          False
1           False           True          False
2           False           True          False
3           False           True          False
4           False           True          False
..            ...            ...            ...
995         False           True          False
996         False           True          False
997         False           True          False
998         False           True          False
999         False           True          False

[1000 rows x 3 columns]

In [51]:
sc = StandardScaler()
m = sc.fit_transform(X.iloc[:,0:3])
m

array([[-0.74551643,  1.04698668,  1.6392759 ],
       [ 0.95774038, -0.76597727, -0.74024139],
       [-0.41533679,  0.14050471,  0.68746898],
       ...,
       [-0.87552244,  1.04698668,  0.1058092 ],
       [-0.50473818,  1.04698668, -0.68736323],
       [ 0.46799171,  1.04698668, -0.47585058]], shape=(1000, 3))

In [54]:
X = pd.concat([X, z, pd.DataFrame(m, columns=['SALDO_ATUAL_N', 'RESIDENCIADESDE_N', 'IDADE_N'])], axis=1)

In [56]:
X.head()

   SALDO_ATUAL  RESIDENCIADESDE  ...  RESIDENCIADESDE_N   IDADE_N
0       1169.0                4  ...           1.046987  1.639276
1       5951.0                2  ...          -0.765977 -0.740241
2       2096.0                3  ...           0.140505  0.687469
3       7882.0                4  ...           1.046987  0.475956
4       4870.0                4  ...           1.046987  0.898982

[5 rows x 18 columns]

In [57]:
X.drop(columns=['SALDO_ATUAL', 'RESIDENCIADESDE', 'IDADE', 'OUTROSPLANOSPGTO', 'DATA', 'OUTROS_banco'], inplace=True)

In [58]:
X.head()

   ESTADOCIVIL  PROPOSITO   ANO  ...  SALDO_ATUAL_N  RESIDENCIADESDE_N   IDADE_N
0            3          7  2019  ...      -0.745516           1.046987  1.639276
1            0          7  2020  ...       0.957740          -0.765977 -0.740241
2            3          2  2020  ...      -0.415337           0.140505  0.687469
3            3          3  2019  ...       1.645526           1.046987  0.475956
4            3          0  2018  ...       0.572709           1.046987  0.898982

[5 rows x 12 columns]