In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
from yellowbrick.classifier import ConfusionMatrix

In [3]:
base = pd.read_csv('insurance.csv')
base

       Unnamed: 0  GoodStudent         Age  ... Airbag   ILiCost DrivHist
0               1        False       Adult  ...  False  Thousand     Many
1               2        False      Senior  ...   True  Thousand     Zero
2               3        False      Senior  ...   True  Thousand      One
3               4        False  Adolescent  ...  False  Thousand     Zero
4               5        False  Adolescent  ...  False  Thousand     Many
...           ...          ...         ...  ...    ...       ...      ...
19995       19996        False       Adult  ...  False  Thousand     Many
19996       19997        False       Adult  ...  False  Thousand     Zero
19997       19998        False      Senior  ...   True  Thousand     Zero
19998       19999        False       Adult  ...   True  Thousand     Zero
19999       20000        False       Adult  ...   True  Thousand     Zero

[20000 rows x 28 columns]

In [4]:
base = base.drop(columns=['Unnamed: 0'])
base

       GoodStudent         Age    SocioEcon  ... Airbag   ILiCost DrivHist
0            False       Adult        Prole  ...  False  Thousand     Many
1            False      Senior        Prole  ...   True  Thousand     Zero
2            False      Senior  UpperMiddle  ...   True  Thousand      One
3            False  Adolescent       Middle  ...  False  Thousand     Zero
4            False  Adolescent        Prole  ...  False  Thousand     Many
...            ...         ...          ...  ...    ...       ...      ...
19995        False       Adult        Prole  ...  False  Thousand     Many
19996        False       Adult       Middle  ...  False  Thousand     Zero
19997        False      Senior  UpperMiddle  ...   True  Thousand     Zero
19998        False       Adult       Middle  ...   True  Thousand     Zero
19999        False       Adult       Middle  ...   True  Thousand     Zero

[20000 rows x 27 columns]

In [5]:
y = base.iloc[:, 7].values
x = base.iloc[:,[0,1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]].values

In [6]:
y

array(['Mild', nan, nan, ..., nan, nan, nan], shape=(20000,), dtype=object)

In [7]:
x

array([[False, 'Adult', 'Prole', ..., False, 'Thousand', 'Many'],
       [False, 'Senior', 'Prole', ..., True, 'Thousand', 'Zero'],
       [False, 'Senior', 'UpperMiddle', ..., True, 'Thousand', 'One'],
       ...,
       [False, 'Senior', 'UpperMiddle', ..., True, 'Thousand', 'Zero'],
       [False, 'Adult', 'Middle', ..., True, 'Thousand', 'Zero'],
       [False, 'Adult', 'Middle', ..., True, 'Thousand', 'Zero']],
      shape=(20000, 26), dtype=object)